<div class="flash-messages">
  <%- flash.each do |key, value| %>
    <div class="alert alert-<%= bootstrap_alert_name(key) %>" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div><%= raw(value) %></div>
    </div>
  <% end %>
</div>
