<div class="row justify-content-md-center page-404">
  <div class="col-md-auto">
    <div class="content-overlap">
      <h1>404</h1>
      <p>The page you were looking for doesn't exist.</p>
    </div>
  </div>
</div>
